@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
}

html,
body {
  max-width: 100vw;
  list-style: none;
  scroll-behavior: smooth;
}

.link {
  color: gray;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}
