.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.heading {
  font-size: 5rem;
}

.desc {
  color: gray;
  font-weight: 500;
  font-size: larger;
  margin-top: 5px;
}

.links {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  width: 720px;
}

.links ul li {
  border: 2px solid white;
  padding: 10px;
  cursor: pointer;
}

.link ul li {
  margin-bottom: 1.5rem;
}

.link ul {
  list-style: none;
}

.link ul a:link {
  color: #d8d8d8;
}

.link ul a:visited {
  color: #d8d8d8;
}

@media screen and (max-width: 768px) {
  .link {
    padding: 20px;
  }
  .links {
    font-size: 2rem;
    padding: 20px;
    max-width: 340px;
  }
}
