.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-top: 30px;
  padding: 20px;
}

.heading {
  font-size: 5rem;
}

.desc {
  color: gray;
  font-weight: 500;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 2rem;
}

.news {
  background-color: rgb(39, 38, 38);
  color: rgb(255, 255, 255);
  padding: 30px;
  margin: 20px;
  text-align: center;
  border-radius: 0.6rem;
}

.heading2 {
  font-size: 2.9rem;
  margin-bottom: 0.2rem;
}

.subheading {
  font-size: 1.5rem;
}

.desc2 {
  font-size: 1.8rem;
  padding: 20px;
  color: rgb(164, 163, 163);
}

.btn {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 10px 30px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(39, 38, 38);
  color: white;
  transition: 0.3s all ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(39, 38, 38);
}

.btn:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }
  .desc2 {
    font-size: 1.4rem;
  }
}
