.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.heading {
  font-size: 5rem;
}

.desc {
  color: gray;
  font-weight: 500;
  font-size: larger;
  margin-top: 5px;
}

.tabs {
  margin-top: 30px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.projects {
  margin-bottom: 2rem;
}

/*
Projects
*/
.imageContainer {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 0;
}

.overlayButton {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.1rem;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  opacity: 1 !important; /* Set the button's initial opacity to 1 (fully visible) */
  transition: opacity 0.3s;
}

.overlayButton a:visited {
  color: #000;
}

.overlayButton a:link {
  color: #000;
}

.overlayButton a:active {
  color: #000;
}

.imageContainer:hover .overlay {
  opacity: 1; /* Adjust the opacity level as needed for the overlay */
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Add a semi-transparent overlay for better visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .card {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1300px) {
  .card {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 858px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
