.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 3rem;
  padding: 10px;
  font-size: 5px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 10;
  border: 2px solid black;
}

.scroll-to-top.visible {
  display: block;
}

@media screen and (max-width: 768px) {
  .scroll-to-top {
    bottom: 70px;
  }
}
